published/*
de-sv/*
images/*
he-old/*
en/tikz/*
he/tikz/*
de/tikz/*
es/tikz/*
*.pdf
!surprises-he*.pdf
!surprises-de*.pdf
!surprises-es*.pdf
*.docx
*.bat
*.zip
*.7z
*~
*.aux
*.log
*.auxlock
*.bbl
*.blg
*.synctex.gz
*.toc
*.cot
*.ilg
*.ind
*.thm
*.idx
*.py
